.slick-prev,
.slick-next {
  color: #1f2937; /* Tailwind color for gray-800, or any dark color */
  z-index: 1; /* Make sure they are on top of other content */
}

.slick-prev:hover,
.slick-next:hover {
  color: #000; /* Darken on hover for better contrast */
}

.slick-prev::before,
.slick-next::before {
  font-size: 24px;
  color: #1f2937; /* Change icon color to dark gray */
}
